*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #efefef;
    color: rgb(54, 94, 134);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    overflow: hidden;
}

button{
    padding: 10px;
    width: 70px;
    border-radius: 10px;
    border: none;
    background: rgb(38, 45, 255);
    color: white;
    font-weight: bold;
}

/* HEADER */
header{
    position: sticky;
    top: 0;
    overflow-x: hidden;
    background: rgb(54, 94, 134);
    color: white;
    width: 100vw;
    text-align: center;
    padding: 20px;
    margin-bottom: 0;
}

#search{
    border-radius: 15px;
    border: none;
    width: 200px;
    padding: 9px;
    margin: 20px 150px 0 0;
}

#Add {
    position: absolute;
    bottom: 40px;
    right: 40px;
    background-color: rgb(48, 131, 57);
}

#done-button{
    background-color: green;
}

/* product list */

.product-item {
    justify-content: space-between;
    display: flex;
    /* border: 1px solid blue; */
    margin: 20px 2rem;
    padding: 10px 10px 10px 10px;
    align-items: center;
    border-radius: 10px;
    /* background: #d8d8d8; */
}

#container{
    /* border: 1px solid red; */
    height: 76vh;
    overflow: scroll;
}

/* Enter product */

#input-container{
    position: absolute;
    top: 150px;
    left: 60px;
    padding: 20px;
    width: auto;
    display: none;
    flex-direction: column;
    border: 1px solid blue;
    gap: 20px;
    border-radius: 10px;
    z-index: 2;
}

input{
    border-radius: 10px;
    border: none;
    width: 200px;
    padding: 9px;
    background-color: #c5c5c5;
}

#blurBackground{
  backdrop-filter: blur(5px);
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: none;
  z-index: 1;
}

#product-list{
  display: flex;
  flex-direction: column;
  gap: 20px;
  /* border: 2px dashed red; */
  margin: 20px 0;
}
li{
  display: flex;
  align-items: center;
  /* border: 1px solid green; */
  justify-content: space-between;
  padding: 10px;
  margin: 0 10px;
  list-style-type: none;
}
